@font-face {
  font-family: 'Circular Std';
  src: url('https://assets.website-files.com/5c7036349b5477bf13f828cf/603df8c3598c88ba5bb1e789_CircularXX-Medium.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

header button {
    padding: 10px;
    margin: 5px;
    background: #7950ed;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Circular Std';
    color: white;
}
html,body{
    font-family: 'Circular Std';
    height: 100%;
    width: 100%;
    margin: 0;
}
p {
  margin: 0;;
}
header {
    padding: 25px;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.commitid {
    color: #23a923;
  text-align:end;
}
.repo-name p {
    font-size: 39px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #4c4c4c;
}
repo-name {
    padding: 2px;
}
.repo-author p {
    color: grey;
}
main {
    width: calc(100% - 20px);
    /* overflow: auto; */
    padding: 10px;
    margin: 0;
    height: calc(100% - 118px);
}
header p {
    font-size: 21px;
    text-transform: capitalize;
}
.title{
    width: fit-content;
    border-bottom: 3px solid #7950ed;
    padding: 10px;
}
.repositories{
    padding: 10px;
    /* width: 100%; */
    height: calc(100% - 61px);
    margin: 10px;
    overflow: auto;
    display: block;

}
.repo{
    padding: 10px;
    border: 1px solid #80808091;
    display: inline-block;
    border-radius: 10px;
  cursor:pointer;
    width: 30vh;
    height: 25vh;
    margin: 10px;
    flex-direction: column;
    justify-content: space-around;
}
.repo:hover{
  background:#8080800d;
}
.repo-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}